<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'app:enquiry' %}" method="POST" class="form-control">
        {% csrf_token %}
    <div class="form-group">
        <input type="text" placeholder="Name" required name="username"><br>
        <!-- <input type="number" name="phone" placeholder="number" required><br>  -->
        <input type="email" name="email" placeholder="email" required><br>
        <!-- <input type="password" name="password" placeholder="password" required> <br> -->
        <input type="submit" name="submit">
    </div>
    </form>

    <!-- <h2>Welcome to ENQUIRY</h2>
    <form class="form-control" method="POST" >
        {%  csrf_token %}
        <div class="form-group">
        <label for="">Email:</label>
        <br>
        <input type="email" name="email">
        <br>
        <label for="">Username:</label>
        <br>
        <input type="text" name="username">
        <br>
        <label for="">Password:</label>
        <br>
        <input type="password" name="password"> -->
        <!-- <br>
        <input type="submit" name="submit"> -->
    <!-- </div>
    </form>  -->
</body>
</html>