<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    

    <h1>Thank You for filling Out Your information</h1>
    
    <a href="https://www.youtube.com/embed/oQGB_iQqjaY">click here for demo</a>
    <!-- <img src="https://import.cdn.thinkific.com/707062%2Fcustom_site_themes%2Fid%2FM14dbTiSRnjl3zeoOguf_LevelUp_FINAL.png?width=384&dpr=2" alt="no img"> -->
    <img src="cid:{{ bg.jpg }}" alt="Image">

</body>
</html> 